<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<main style="text-align: center">
    <form action="/login" method="post">
        <div>
            <label for="username">Username</label>
            <input type="text" name="username" id="username">
            <label for="password">Password</label>
            <input type="text" name="password" id="password">
            <button type="submit">Login</button>
        </div>
    </form>
</main>
</body>
</html>
